<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/main/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">
            Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/main/users">Users</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/main/customers">Customers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" routerLink="/trips">Trips</a>
    </li>
</ul>